<a href="https://colab.research.google.com/github/Pappas313/QueriesCSVswithPython/blob/main/Queries2CSVs%26More.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORT CSVs Libraries**

In [ ]:
import csv
import pandas as pd
import numpy as np

**Import CSVs**

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# reading two csv files
Customers = pd.read_csv("gdrive/My Drive/Northwindcsv/Customers.csv")
Orders = pd.read_csv('gdrive/My Drive/Northwindcsv/Orders.csv')

In [ ]:
Customers.head(1000)

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,NaN,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,NaN,05023,Mexico,(5) 555-3932,NaN
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,NaN,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
...,...,...,...,...,...,...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,NaN,90110,Finland,981-443655,981-443655
87,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,NaN
88,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S.\r\nSuite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
89,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,NaN,21240,Finland,90-224 8858,90-224 8858
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,(26) 642-7012

In [ ]:
Orders.head(1000)

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10389,BOTTM,4,1995-01-20 00:00:00.000,1995-02-17 00:00:00.000,1995-01-24 00:00:00.000,2,47.42,Bottom-Dollar Markets,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada
1,10390,ERNSH,6,1995-01-23 00:00:00.000,1995-02-20 00:00:00.000,1995-01-26 00:00:00.000,1,126.38,Ernst Handel,Kirchgasse 6,Graz,NaN,8010,Austria
2,10391,DRACD,3,1995-01-23 00:00:00.000,1995-02-20 00:00:00.000,1995-01-31 00:00:00.000,3,5.45,Drachenblut Delikatessen,Walserweg 21,Aachen,NaN,52066,Germany
3,10392,PICCO,2,1995-01-24 00:00:00.000,1995-02-21 00:00:00.000,1995-02-01 00:00:00.000,3,122.46,Piccolo und mehr,Geislweg 14,Salzburg,NaN,5020,Austria
4,10393,SAVEA,1,1995-01-25 00:00:00.000,1995-02-22 00:00:00.000,1995-02-03 00:00:00.000,3,126.56,Save-a-lot Markets,187 Suffolk Ln.,Boise,ID,83720,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,11073,PERIC,2,1996-06-04 00:00:00.000,1996-07-02 00:00:00.000,NaN,2,24.95,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321,México D.F.,NaN,05033,Mexico
826,11074,SIMOB,7,1996-06-05 00:00:00.000,1996-07-03 00:00:00.000,NaN,2,18.44,Simons bistro,Vinbæltet 34,København,NaN,1734,Denmark
827,11075,RICSU,8,1996-06-05 00:00:00.000,1996-07-03 00:00:00.000,NaN,2,6.19,Richter Supermarkt,Starenweg 5,Genève,NaN,1204,Switzerland
828,11076,BONAP,4,1996-06-05 00:00:00.000,1996-07-03 00:00:00.000,NaN,2,38.28,Bon app',"12, rue des Bouchers",Marseille,NaN,13008,France
829,11077,RATTC,1,1996-06-05 00:00:00.000,1996-07-03 00:00:00.000,NaN,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA

# **Take a quick look at the dimensions of the two DataFrames**

In [ ]:
Customers.shape

(91, 11)

In [ ]:
Orders.shape

(830, 14)

# **Merge the Sheets(Inner Join)**
Now to merge the two CSV files you have to use the dataframe.merge() method and define the column, you want to do merging.  If the data is not available for the specific columns in the other sheets then the corresponding rows will be deleted. You can verify using the shape() method. Use the following code.

In [ ]:
merged_data = Orders.merge(Customers,on=["CustomerID"])
Orders.head(1000)

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10389,BOTTM,4,1995-01-20 00:00:00.000,1995-02-17 00:00:00.000,1995-01-24 00:00:00.000,2,47.42,Bottom-Dollar Markets,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada
1,10390,ERNSH,6,1995-01-23 00:00:00.000,1995-02-20 00:00:00.000,1995-01-26 00:00:00.000,1,126.38,Ernst Handel,Kirchgasse 6,Graz,NaN,8010,Austria
2,10391,DRACD,3,1995-01-23 00:00:00.000,1995-02-20 00:00:00.000,1995-01-31 00:00:00.000,3,5.45,Drachenblut Delikatessen,Walserweg 21,Aachen,NaN,52066,Germany
3,10392,PICCO,2,1995-01-24 00:00:00.000,1995-02-21 00:00:00.000,1995-02-01 00:00:00.000,3,122.46,Piccolo und mehr,Geislweg 14,Salzburg,NaN,5020,Austria
4,10393,SAVEA,1,1995-01-25 00:00:00.000,1995-02-22 00:00:00.000,1995-02-03 00:00:00.000,3,126.56,Save-a-lot Markets,187 Suffolk Ln.,Boise,ID,83720,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,11073,PERIC,2,1996-06-04 00:00:00.000,1996-07-02 00:00:00.000,NaN,2,24.95,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321,México D.F.,NaN,05033,Mexico
826,11074,SIMOB,7,1996-06-05 00:00:00.000,1996-07-03 00:00:00.000,NaN,2,18.44,Simons bistro,Vinbæltet 34,København,NaN,1734,Denmark
827,11075,RICSU,8,1996-06-05 00:00:00.000,1996-07-03 00:00:00.000,NaN,2,6.19,Richter Supermarkt,Starenweg 5,Genève,NaN,1204,Switzerland
828,11076,BONAP,4,1996-06-05 00:00:00.000,1996-07-03 00:00:00.000,NaN,2,38.28,Bon app',"12, rue des Bouchers",Marseille,NaN,13008,France
829,11077,RATTC,1,1996-06-05 00:00:00.000,1996-07-03 00:00:00.000,NaN,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA


# **Other Things you can Do**
Now there is a case when you want to append the rows only of one sheet to another sheet and vice-versa. To this, you have to use concate() method. Suppose I have two sheets of the same dataset and I want to work on a single sheet. Then I have to first add all the rows of one sheet to another. After that I can do anything from that dataset. Below is the code for appending the rows in a Dataframe.

In [ ]:
concate_data = pd.concat([Orders,Customers])
concate_data.head(1000)

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,...,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,10389.0,BOTTM,4.0,1995-01-20 00:00:00.000,1995-02-17 00:00:00.000,1995-01-24 00:00:00.000,2.0,47.42,Bottom-Dollar Markets,23 Tsawassen Blvd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10390.0,ERNSH,6.0,1995-01-23 00:00:00.000,1995-02-20 00:00:00.000,1995-01-26 00:00:00.000,1.0,126.38,Ernst Handel,Kirchgasse 6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10391.0,DRACD,3.0,1995-01-23 00:00:00.000,1995-02-20 00:00:00.000,1995-01-31 00:00:00.000,3.0,5.45,Drachenblut Delikatessen,Walserweg 21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10392.0,PICCO,2.0,1995-01-24 00:00:00.000,1995-02-21 00:00:00.000,1995-02-01 00:00:00.000,3.0,122.46,Piccolo und mehr,Geislweg 14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10393.0,SAVEA,1.0,1995-01-25 00:00:00.000,1995-02-22 00:00:00.000,1995-02-03 00:00:00.000,3.0,126.56,Save-a-lot Markets,187 Suffolk Ln.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,NaN,WARTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,NaN,90110,Finland,981-443655,981-443655
87,NaN,WELLI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,NaN
88,NaN,WHITC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S.\r\nSuite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
89,NaN,WILMK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,NaN,21240,Finland,90-224 8858,90-224 8858
90,NaN,WOLZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,(26) 642-7012

## **Inner Join**

In [ ]:
inner_merged_total = pd.merge(Orders, Customers, on=["CustomerID"])
inner_merged_total.head(1000)

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,...,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,10389,BOTTM,4,1995-01-20 00:00:00.000,1995-02-17 00:00:00.000,1995-01-24 00:00:00.000,2,47.42,Bottom-Dollar Markets,23 Tsawassen Blvd.,...,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745
1,10410,BOTTM,3,1995-02-10 00:00:00.000,1995-03-10 00:00:00.000,1995-02-15 00:00:00.000,3,2.40,Bottom-Dollar Markets,23 Tsawassen Blvd.,...,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745
2,10411,BOTTM,9,1995-02-10 00:00:00.000,1995-03-10 00:00:00.000,1995-02-21 00:00:00.000,3,23.65,Bottom-Dollar Markets,23 Tsawassen Blvd.,...,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745
3,10431,BOTTM,4,1995-03-02 00:00:00.000,1995-03-16 00:00:00.000,1995-03-10 00:00:00.000,2,44.17,Bottom-Dollar Markets,23 Tsawassen Blvd.,...,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745
4,10492,BOTTM,3,1995-05-02 00:00:00.000,1995-05-30 00:00:00.000,1995-05-12 00:00:00.000,1,62.89,Bottom-Dollar Markets,23 Tsawassen Blvd.,...,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,11043,SPECD,5,1996-05-22 00:00:00.000,1996-06-19 00:00:00.000,1996-05-29 00:00:00.000,2,8.80,Spécialités du monde,"25, rue Lauriston",...,Spécialités du monde,Dominique Perrier,Marketing Manager,"25, rue Lauriston",Paris,NaN,75016,France,(1) 47.55.60.10,(1) 47.55.60.20
826,10858,LACOR,2,1996-02-29 00:00:00.000,1996-03-28 00:00:00.000,1996-03-05 00:00:00.000,1,52.51,La corne d'abondance,"67, avenue de l'Europe",...,La corne d'abondance,Daniel Tonini,Sales Representative,"67, avenue de l'Europe",Versailles,NaN,78000,France,30.59.84.10,30.59.85.11
827,10927,LACOR,4,1996-04-04 00:00:00.000,1996-05-02 00:00:00.000,1996-05-08 00:00:00.000,1,19.79,La corne d'abondance,"67, avenue de l'Europe",...,La corne d'abondance,Daniel Tonini,Sales Representative,"67, avenue de l'Europe",Versailles,NaN,78000,France,30.59.84.10,30.59.85.11
828,10972,LACOR,4,1996-04-23 00:00:00.000,1996-05-21 00:00:00.000,1996-04-25 00:00:00.000,2,0.02,La corne d'abondance,"67, avenue de l'Europe",...,La corne d'abondance,Daniel Tonini,Sales Representative,"67, avenue de l'Europe",Versailles,NaN,78000,France,30.59.84.10,30.59.85.11
829,10973,LACOR,6,1996-04-23 00:00:00.000,1996-05-21 00:00:00.000,1996-04-26 00:00:00.000,2,15.17,La corne d'abondance,"67, avenue de l'Europe",...,La corne d'abondance,Daniel Tonini,Sales Representative,"67, avenue de l'Europe",Versailles,NaN,78000,France,30.59.84.10,30.59.85.11

In [ ]:
inner_merged_total.shape

(830, 24)

# **Outer Join**

In [ ]:
outer_merged = pd.merge(Orders, Customers, how="outer", on=["CustomerID"])
outer_merged.head(1000)

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,...,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,10389.0,BOTTM,4.0,1995-01-20 00:00:00.000,1995-02-17 00:00:00.000,1995-01-24 00:00:00.000,2.0,47.42,Bottom-Dollar Markets,23 Tsawassen Blvd.,...,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745
1,10410.0,BOTTM,3.0,1995-02-10 00:00:00.000,1995-03-10 00:00:00.000,1995-02-15 00:00:00.000,3.0,2.40,Bottom-Dollar Markets,23 Tsawassen Blvd.,...,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745
2,10411.0,BOTTM,9.0,1995-02-10 00:00:00.000,1995-03-10 00:00:00.000,1995-02-21 00:00:00.000,3.0,23.65,Bottom-Dollar Markets,23 Tsawassen Blvd.,...,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745
3,10431.0,BOTTM,4.0,1995-03-02 00:00:00.000,1995-03-16 00:00:00.000,1995-03-10 00:00:00.000,2.0,44.17,Bottom-Dollar Markets,23 Tsawassen Blvd.,...,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745
4,10492.0,BOTTM,3.0,1995-05-02 00:00:00.000,1995-05-30 00:00:00.000,1995-05-12 00:00:00.000,1.0,62.89,Bottom-Dollar Markets,23 Tsawassen Blvd.,...,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,10927.0,LACOR,4.0,1996-04-04 00:00:00.000,1996-05-02 00:00:00.000,1996-05-08 00:00:00.000,1.0,19.79,La corne d'abondance,"67, avenue de l'Europe",...,La corne d'abondance,Daniel Tonini,Sales Representative,"67, avenue de l'Europe",Versailles,NaN,78000,France,30.59.84.10,30.59.85.11
828,10972.0,LACOR,4.0,1996-04-23 00:00:00.000,1996-05-21 00:00:00.000,1996-04-25 00:00:00.000,2.0,0.02,La corne d'abondance,"67, avenue de l'Europe",...,La corne d'abondance,Daniel Tonini,Sales Representative,"67, avenue de l'Europe",Versailles,NaN,78000,France,30.59.84.10,30.59.85.11
829,10973.0,LACOR,6.0,1996-04-23 00:00:00.000,1996-05-21 00:00:00.000,1996-04-26 00:00:00.000,2.0,15.17,La corne d'abondance,"67, avenue de l'Europe",...,La corne d'abondance,Daniel Tonini,Sales Representative,"67, avenue de l'Europe",Versailles,NaN,78000,France,30.59.84.10,30.59.85.11
830,NaN,FISSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,FISSA Fabrica Inter. Salchichas S.A.,Diego Roel,Accounting Manager,"C/ Moralzarzal, 86",Madrid,NaN,28034,Spain,(91) 555 94 44,(91) 555 55 93
831,NaN,PARIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paris spécialités,Marie Bertrand,Owner,"265, boulevard Charonne",Paris,NaN,75012,France,(1) 42.34.22.66,(1) 42.34.22.77

In [ ]:
outer_merged.shape

(832, 24)

## **Left Join**

**1) Left table Customers**

In [ ]:
left_merged_01 = pd.merge(Customers, Orders, how="left", on=["CustomerID"])
left_merged_01.head(1000)

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,...,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,1995-10-23 00:00:00.000,1995-10-03 00:00:00.000,1.0,29.46,Alfreds Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany
1,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,1995-12-01 00:00:00.000,1995-11-13 00:00:00.000,2.0,61.02,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany
2,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,1995-12-25 00:00:00.000,1995-11-21 00:00:00.000,1.0,23.94,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany
3,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,1996-03-14 00:00:00.000,1996-02-21 00:00:00.000,3.0,69.53,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany
4,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,1996-05-27 00:00:00.000,1996-04-23 00:00:00.000,1.0,40.42,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,1996-02-20 00:00:00.000,1996-01-31 00:00:00.000,3.0,23.79,Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland
828,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,1996-04-03 00:00:00.000,1996-03-15 00:00:00.000,3.0,12.04,Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland
829,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,1996-04-10 00:00:00.000,1996-04-02 00:00:00.000,3.0,26.29,Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland
830,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,1996-05-17 00:00:00.000,1996-05-17 00:00:00.000,2.0,20.31,Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland
831,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,1996-06-20 00:00:00.000,1996-05-31 00:00:00.000,1.0,8.72,Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland

In [ ]:
left_merged_01.shape

(832, 24)


**2) Left table Orders**

In [ ]:
left_merged_02 = pd.merge(Orders, Customers,  how="left", on=["CustomerID"])
left_merged_01.head(1000)

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,...,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,1995-10-23 00:00:00.000,1995-10-03 00:00:00.000,1.0,29.46,Alfreds Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany
1,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,1995-12-01 00:00:00.000,1995-11-13 00:00:00.000,2.0,61.02,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany
2,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,1995-12-25 00:00:00.000,1995-11-21 00:00:00.000,1.0,23.94,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany
3,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,1996-03-14 00:00:00.000,1996-02-21 00:00:00.000,3.0,69.53,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany
4,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,1996-05-27 00:00:00.000,1996-04-23 00:00:00.000,1.0,40.42,Alfred's Futterkiste,Obere Str. 57,Berlin,NaN,12209,Germany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,1996-02-20 00:00:00.000,1996-01-31 00:00:00.000,3.0,23.79,Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland
828,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,1996-04-03 00:00:00.000,1996-03-15 00:00:00.000,3.0,12.04,Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland
829,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,1996-04-10 00:00:00.000,1996-04-02 00:00:00.000,3.0,26.29,Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland
830,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,1996-05-17 00:00:00.000,1996-05-17 00:00:00.000,2.0,20.31,Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland
831,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,1996-06-20 00:00:00.000,1996-05-31 00:00:00.000,1.0,8.72,Wolski Zajazd,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland

In [ ]:
left_merged_02.shape

(830, 24)

## **Right Join**

In [ ]:
 right_merged_01 = pd.merge(Customers, Orders, how="right", on=["CustomerID"])
 right_merged1.head(1000)

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,...,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,BOTTM,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,...,1995-02-17 00:00:00.000,1995-01-24 00:00:00.000,2,47.42,Bottom-Dollar Markets,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada
1,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,NaN,8010,Austria,7675-3425,...,1995-02-20 00:00:00.000,1995-01-26 00:00:00.000,1,126.38,Ernst Handel,Kirchgasse 6,Graz,NaN,8010,Austria
2,DRACD,Drachenblut Delikatessen,Sven Ottlieb,Order Administrator,Walserweg 21,Aachen,NaN,52066,Germany,0241-039123,...,1995-02-20 00:00:00.000,1995-01-31 00:00:00.000,3,5.45,Drachenblut Delikatessen,Walserweg 21,Aachen,NaN,52066,Germany
3,PICCO,Piccolo und mehr,Georg Pipps,Sales Manager,Geislweg 14,Salzburg,NaN,5020,Austria,6562-9722,...,1995-02-21 00:00:00.000,1995-02-01 00:00:00.000,3,122.46,Piccolo und mehr,Geislweg 14,Salzburg,NaN,5020,Austria
4,SAVEA,Save-a-lot Markets,Jose Pavarotti,Sales Representative,187 Suffolk Ln.,Boise,ID,83720,USA,(208) 555-8097,...,1995-02-22 00:00:00.000,1995-02-03 00:00:00.000,3,126.56,Save-a-lot Markets,187 Suffolk Ln.,Boise,ID,83720,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,PERIC,Pericles Comidas clásicas,Guillermo Fernández,Sales Representative,Calle Dr. Jorge Cash 321,México D.F.,NaN,05033,Mexico,(5) 552-3745,...,1996-07-02 00:00:00.000,NaN,2,24.95,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321,México D.F.,NaN,05033,Mexico
826,SIMOB,Simons bistro,Jytte Petersen,Owner,Vinbæltet 34,København,NaN,1734,Denmark,31 12 34 56,...,1996-07-03 00:00:00.000,NaN,2,18.44,Simons bistro,Vinbæltet 34,København,NaN,1734,Denmark
827,RICSU,Richter Supermarkt,Michael Holz,Sales Manager,Grenzacherweg 237,Genève,NaN,1203,Switzerland,0897-034214,...,1996-07-03 00:00:00.000,NaN,2,6.19,Richter Supermarkt,Starenweg 5,Genève,NaN,1204,Switzerland
828,BONAP,Bon app',Laurence Lebihan,Owner,"12, rue des Bouchers",Marseille,NaN,13008,France,91.24.45.40,...,1996-07-03 00:00:00.000,NaN,2,38.28,Bon app',"12, rue des Bouchers",Marseille,NaN,13008,France
829,RATTC,Rattlesnake Canyon Grocery,Paula Wilson,Assistant Sales Representative,2817 Milton Dr.,Albuquerque,NM,87110,USA,(505) 555-5939,...,1996-07-03 00:00:00.000,NaN,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA

# **pandas .join(): Combining Data on a Column or Index**

In [ ]:
Orders.join( Customers, lsuffix="_left", rsuffix="_right").head(1000)

,OrderID,CustomerID_left,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,...,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,10389,BOTTM,4,1995-01-20 00:00:00.000,1995-02-17 00:00:00.000,1995-01-24 00:00:00.000,2,47.42,Bottom-Dollar Markets,23 Tsawassen Blvd.,...,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,030-0076545
1,10390,ERNSH,6,1995-01-23 00:00:00.000,1995-02-20 00:00:00.000,1995-01-26 00:00:00.000,1,126.38,Ernst Handel,Kirchgasse 6,...,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,NaN,05021,Mexico,(5) 555-4729,(5) 555-3745
2,10391,DRACD,3,1995-01-23 00:00:00.000,1995-02-20 00:00:00.000,1995-01-31 00:00:00.000,3,5.45,Drachenblut Delikatessen,Walserweg 21,...,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,NaN,05023,Mexico,(5) 555-3932,NaN
3,10392,PICCO,2,1995-01-24 00:00:00.000,1995-02-21 00:00:00.000,1995-02-01 00:00:00.000,3,122.46,Piccolo und mehr,Geislweg 14,...,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,10393,SAVEA,1,1995-01-25 00:00:00.000,1995-02-22 00:00:00.000,1995-02-03 00:00:00.000,3,126.56,Save-a-lot Markets,187 Suffolk Ln.,...,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,NaN,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,11073,PERIC,2,1996-06-04 00:00:00.000,1996-07-02 00:00:00.000,NaN,2,24.95,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
826,11074,SIMOB,7,1996-06-05 00:00:00.000,1996-07-03 00:00:00.000,NaN,2,18.44,Simons bistro,Vinbæltet 34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
827,11075,RICSU,8,1996-06-05 00:00:00.000,1996-07-03 00:00:00.000,NaN,2,6.19,Richter Supermarkt,Starenweg 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
828,11076,BONAP,4,1996-06-05 00:00:00.000,1996-07-03 00:00:00.000,NaN,2,38.28,Bon app',"12, rue des Bouchers",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
829,11077,RATTC,1,1996-06-05 00:00:00.000,1996-07-03 00:00:00.000,NaN,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Warning: Total number of columns (25) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
Customers.join( Orders, lsuffix="_left", rsuffix="_right").head(1000)

,CustomerID_left,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,...,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,...,1995-02-17 00:00:00.000,1995-01-24 00:00:00.000,2,47.42,Bottom-Dollar Markets,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,NaN,05021,Mexico,(5) 555-4729,...,1995-02-20 00:00:00.000,1995-01-26 00:00:00.000,1,126.38,Ernst Handel,Kirchgasse 6,Graz,NaN,8010,Austria
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,NaN,05023,Mexico,(5) 555-3932,...,1995-02-20 00:00:00.000,1995-01-31 00:00:00.000,3,5.45,Drachenblut Delikatessen,Walserweg 21,Aachen,NaN,52066,Germany
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,...,1995-02-21 00:00:00.000,1995-02-01 00:00:00.000,3,122.46,Piccolo und mehr,Geislweg 14,Salzburg,NaN,5020,Austria
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,NaN,S-958 22,Sweden,0921-12 34 65,...,1995-02-22 00:00:00.000,1995-02-03 00:00:00.000,3,126.56,Save-a-lot Markets,187 Suffolk Ln.,Boise,ID,83720,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,NaN,90110,Finland,981-443655,...,1994-11-14 00:00:00.000,1994-10-24 00:00:00.000,3,7.56,Romero y tomillo,"Gran Vía, 1",Madrid,NaN,28001,Spain
87,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,...,1994-11-15 00:00:00.000,1994-10-26 00:00:00.000,2,0.56,Lonesome Pine Restaurant,89 Chiaroscuro Rd.,Portland,OR,97219,USA
88,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S.\r\nSuite 3B,Seattle,WA,98128,USA,(206) 555-4112,...,1994-11-16 00:00:00.000,1994-10-25 00:00:00.000,3,1.61,Ana Trujillo Emparedados y helados,Avda. de la Constitución 2222,México D.F.,NaN,05021,Mexico
89,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,NaN,21240,Finland,90-224 8858,...,1994-11-17 00:00:00.000,1994-11-23 00:00:00.000,1,47.30,Hungry Owl All-Night Grocers,8 Johnstown Road,Cork,Co. Cork,NaN,Ireland
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,NaN,01-012,Poland,(26) 642-7012,...,1994-11-18 00:00:00.000,1994-10-28 00:00:00.000,2,17.52,The Big Cheese,89 Jefferson Way\r\nSuite 2,Portland,OR,97201,USA

Warning: Total number of columns (25) exceeds max_columns (20) limiting to first (20) columns.

## **Notes 1**

https://realpython.com/pandas-merge-join-and-concat/#right-join